<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="enable_lazy_load_no_trans">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://IP-Address:Port/DB-Name</property>
        <property name="hibernate.connection.username">USERNAME</property>
        <property name="hibernate.connection.password">PASS</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <mapping class="at.adridi.finanzverwaltung.model.DatenbankNotizen"/>
        <mapping class="at.adridi.finanzverwaltung.model.Ausgaben"/>
        <mapping class="at.adridi.finanzverwaltung.model.Ausgabenausgabezeitraum"/>
        <mapping class="at.adridi.finanzverwaltung.model.Ausgabenkategorie"/>
        <mapping class="at.adridi.finanzverwaltung.model.Einnahmen"/>
        <mapping class="at.adridi.finanzverwaltung.model.EinnahmenKategorie"/>
        <mapping class="at.adridi.finanzverwaltung.model.Vermoegen"/>
        <mapping class="at.adridi.finanzverwaltung.model.VermoegenJaehrlich"/>

    </session-factory>
</hibernate-configuration>
